footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.footer-logo img {
    width: 100px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 80%;
    margin-top: 20px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu ul li {
    text-align: justify;
    margin: 5px 0;
    font-weight: 600;
}

.footer-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
    margin: 5px 0;
    gap: 1rem;
    font-weight: 600;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-social ul {
    padding: 0;
    list-style: none;
}

.footer-social ul li {
    text-align: justify;
    margin: 5px 0;
    font-weight: 600;
}

@media (max-width: 768px) {
 footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-menu ul {
    margin-top: 2rem;
}
.footer-contact {
   margin-top: 2rem;
}
.footer-social {
    margin-top: 2rem;
}

.footer-social ul li {
    text-align: center;
}
.footer-menu ul li {
    text-align: center;
}
}